<!DOCTYPE html>
<html>
  <head>
    <title>RailsPrivacySearchAi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
   <%= javascript_include_tag "https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js" %>
  </head>

 <body>
 <div id="particles-js"></div>
  <div class="content-wrapper" style="height: 100%;">
      <div class="site-wrapper" style="background-color: #0b233a;">
        <div class="example-wrapper"><div id="particles-js"></div></div>
          <%= render "shared/navbar" %>
      <%= yield %>
      </div>
  </div>
  <%= render "shared/flashes" %>
  <%= render 'shared/footer' %>

        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script>
          document.addEventListener("DOMContentLoaded", function() {
            particlesJS.load('particles-js', '/particles.json', function() {
              console.log('particles.js loaded - callback');
            });
          });
        </script>

</body>
</html>
